NODE_ENV=development

APPLICATION_PORT=4000
APP_URL="http://localhost:${APPLICATION_PORT}"

GRAPHQL_PREFIX=/graphql
ALLOW_ORIGIN=http://localhost:3000


COOKIE_SECRET=your_cookie_secret
SESSION_FOLDER=session:
SESSION_NAME="stream.sid"
SESSION_SECRET=your_session_secret
SESSION_DOMAIN="localhost"
SESSION_HTTP_ONLY=true
SESSION_SECURE=false


DATABASE_USER="root"
DATABASE_PASSWORD="123456"
DATABASES_HOST="localhost"
DATABASE_PORT="5432"
DATABASE_DB="stream_db"
DATABASE_URL=postgresql://root:123456@localhost:5432/stream_db

REDIS_URL="redis://default:${REDIS_PASSWORD}@localhost:6379"

REDIS_PASSWORD=123456


MAIL_HOST="localhost"
MAIL_PORT="1025"
MAIL_LOGIN="test"
MAIL_PASS="1234"